header{
    display: flex;
    flex-direction: column;
}

header .title{
    text-align: center;
}

header .photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

body{
    background-image: linear-gradient(to bottom, rgba(3, 3, 92, 0.89), black);
    color: white;
    background-attachment: fixed;
}

main{
    margin: .5rem auto;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 8px;
    max-width: 1024px;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information p{
    margin: .5rem;
    font-size: 1.125rem;
}

.information p a{
    color: white;
    text-decoration: none;
}

.information p a:hover{
    text-decoration: underline;
}

.information img{
    padding-right: .5rem;
}

.job{
    width: 10.2px;
    height: 11.71px;
}

.location{
    width: 8.5px;
    height: 12.5px;
}

.phone{
    width: 11.945px;
    height: 12px;
}

.email{
    width: 12.78px;
    height: 11.5px;
}

@media only screen and (min-width: 768px) {
    header{
        display: grid;
        grid-template-areas: 
            "photo title"
            "photo information"
            ;
    }

    header .photo{
        grid-area: photo;
        margin: 0 auto;
    }

    header .title{
        grid-area: title;
        text-align: start;
        max-width: 190px;
    }    

    header .information{
        grid-area: information;
    }    


}